<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <span class="align-middle">Invento</span>
        </a> 
        <ul class="sidebar-nav"> 
            <li class="sidebar-item {% if nbar == 'dashboard' %}active{% endif %}">
                <a class="sidebar-link" href="/"> 
                    <span class="align-middle">Dashboard</span>
                </a>
            </li>  
            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseInventory" aria-expanded="false" aria-controls="collapseInventory"> 
                    <span class="align-middle ">Inventory</span>
                </a>
            </li>
            <div class="collapse" id="collapseInventory"> 
                <li class="sidebar-item {% if nbar == 'create-invoice' %}active{% endif %}">
                    <a class="sidebar-link" href="/create-invoice"> 
                        <span class="align-middle ms-3">Create Invoice</span>
                    </a>
                </li>
                <li class="sidebar-item {% if nbar == 'invoices' %}active{% endif %}">
                    <a class="sidebar-link" href="/invoices"> 
                        <span class="align-middle ms-3">Invoices</span>
                    </a>
                </li> 
                <li class="sidebar-item {% if nbar == 'products' %}active{% endif %}">
                    <a class="sidebar-link" href="/products"> 
                        <span class="align-middle ms-3">Products</span>
                    </a>
                </li>
            </div>  
            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseImports" aria-expanded="false" aria-controls="collapseImports"> 
                    <span class="align-middle ">Imports</span>
                </a>
            </li>
            <div class="collapse" id="collapseImports">   
                <li class="sidebar-item {% if nbar == 'add-import-invoice' %}active{% endif %}">
                    <a class="sidebar-link" href="/add-import-invoice"> 
                        <span class="align-middle ms-3">Add Import Invoice</span>
                    </a>
                </li>
                <li class="sidebar-item {% if nbar == 'pending-import-invoice' %}active{% endif %}">
                    <a class="sidebar-link" href="/pending-imports">
                        <span class="align-middle ms-3">Pending Invoices</span>
                    </a>
                </li>
                <li class="sidebar-item {% if nbar == 'imports' %}active{% endif %}">
                    <a class="sidebar-link" href="/imports"> 
                        <span class="align-middle ms-3">Invoices</span>
                    </a>
                </li>
                <li class="sidebar-item {% if nbar == 'import-products' %}active{% endif %}">
                    <a class="sidebar-link" href="/import-products"> 
                        <span class="align-middle ms-3">Invoice Products</span>
                    </a>
                </li>
            </div>  
            <li class="sidebar-item {% if nbar == 'suppliers' %}active{% endif %}">
                <a class="sidebar-link" href="/suppliers"> 
                    <span class="align-middle">Suppliers</span>
                </a>
            </li>    
            <li class="sidebar-item {% if nbar == 'customers' %}active{% endif %}">
                <a class="sidebar-link" href="/customers"> 
                    <span class="align-middle">Customers</span>
                </a>
            </li>   
            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseUtility" aria-expanded="false" aria-controls="collapseAdmin"> 
                    <span class="align-middle">Utilities</span>
                </a>
            </li>   
            <div class="collapse" id="collapseUtility"> 
                <li class="sidebar-item {% if nbar == 'utilities' %}active{% endif %}">
                    <a class="sidebar-link" href="/utilities"> 
                        <span class="align-middle ms-3">Utilities</span>
                    </a>
                </li> 
            </div>
            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseEmployees" aria-expanded="false" aria-controls="collapseEmployees"> 
                    <span class="align-middle">Employees</span>
                </a>
            </li>   
            <div class="collapse" id="collapseEmployees"> 
                <li class="sidebar-item {% if nbar == 'employee-roles' %}active{% endif %}">
                    <a class="sidebar-link" href="/employee-roles"> 
                        <span class="align-middle ms-3">Roles</span>
                    </a>
                </li>
                <li class="sidebar-item {% if nbar == 'employees' %}active{% endif %}">
                    <a class="sidebar-link" href="/employees"> 
                        <span class="align-middle ms-3">Personal Info</span>
                    </a>
                </li>
                <li class="sidebar-item {% if nbar == 'employees-payroll' %}active{% endif %}">
                    <a class="sidebar-link" href="/employees-payroll"> 
                        <span class="align-middle ms-3">Payroll Info</span>
                    </a>
                </li>
            </div>  

            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseCheques" aria-expanded="false" aria-controls="collapseCheques"> 
                    <span class="align-middle">Cheques</span>
                </a>
            </li>   
            <div class="collapse" id="collapseCheques"> 
                <li class="sidebar-item {% if nbar == 'cheques' %}active{% endif %}">
                    <a class="sidebar-link" href="/cheques"> 
                        <span class="align-middle ms-3">Customer Cheques</span>
                    </a>
                </li> 
                <li class="sidebar-item {% if nbar == 'accounts' %}active{% endif %}">
                    <a class="sidebar-link" href="/accounts"> 
                        <span class="align-middle ms-3">Accounts</span>
                    </a>
                </li> 
            </div>
            
            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseAccounts" aria-expanded="false" aria-controls="collapseAccounts"> 
                    <span class="align-middle">Accounts</span>
                </a>
            </li>   
            <div class="collapse" id="collapseAccounts"> 
                <li class="sidebar-item {% if nbar == 'ledgers' %}active{% endif %}">
                    <a class="sidebar-link" href="/ledgers"> 
                        <span class="align-middle ms-3">Ledgers</span>
                    </a>
                </li> 
                <li class="sidebar-item {% if nbar == 'accounts' %}active{% endif %}">
                    <a class="sidebar-link" href="/accounts"> 
                        <span class="align-middle ms-3">Accounts</span>
                    </a>
                </li> 
            </div> 

            <li class="sidebar-item {% if nbar == 'plans' %}active{% endif %}">
                <a class="sidebar-link" href="/plans"> 
                    <span class="align-middle">Plans</span>
                </a>
            </li>  

            <li class="sidebar-item">
                <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin"> 
                    <span class="align-middle">Admin</span>
                </a>
            </li>   
            <div class="collapse" id="collapseAdmin"> 
                <li class="sidebar-item {% if nbar == 'users' %}active{% endif %}">
                    <a class="sidebar-link" href="/users"> 
                        <span class="align-middle ms-3">Users</span>
                    </a>
                </li> 
            </div>
        </ul> 
    </div>
</nav>