{% extends 'includes/layout.html' %}
{% load static %}
{% block content %} 
<div class="wrapper">
	{% include 'includes/nav.html' %}

	<div class="main">
		{% include 'includes/nav-user.html' %}

		<main class="content">
			<div class="container-fluid p-0">

				<h1 class="h3 mb-3"><strong>Cheques</strong></h1>
				<div style="text-align: right;" class="mb-2">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						Add New Cheque
					</button>
				</div>
				<div class="row">
					<div class="card">
						<div class="card-body"> 
								<div class="row">
									<div class="col-6 mb-3">
										<label class="form-label">Customer</label>
										<select class="form-select form-select-lg" id="customer">
											<option value="0" selected>All Cus</option>
											{% for customer in customers %}
											<option value="{{customer.id}}">{{customer.name}}</option> 
											{% endfor %}
										</select>
									</div>
									<div class="col-6 mb-3">
										<label class="form-label">Status</label>
										<select class="form-select form-select-lg" id="status">
											<option value="-1" selected>All</option>
											<option value="1">Delivered</option>
											<option value="0">Pending</option> 
										</select>
									</div> 
								</div> 
								<div class="row">
									<div class="col-6 mb-3">
										<label class="form-label">Start Date</label>
										<input class="form-control form-control-lg" id="startdate" type="date" name="startdate" placeholder="Enter your username" />
									</div>
									<div class="col-6 mb-3">
										<label class="form-label">End Date</label>
										<input class="form-control form-control-lg" id="enddate" type="date" name="enddate" placeholder="Enter your password" />
									</div> 
								</div> 
								<div class="text-center mt-3">
									<button class="btn btn-lg btn-primary" onclick=" gettable()">Generate</button>
								</div> 
						</div>
					</div>
				</div> 

				<div class="row" id="table">
					<div class="col-12 col-lg-12 col-xxl-12 d-flex">
						<div class="card flex-fill p-3"> 
							<div class="table-responsive">
							<table class="table table-hover my-0" id="tableData">
								<thead>
									<tr>
										<th>Id</th>
										<th>Cheque Number</th>
										<th>Date</th>
										<th>Customer</th>
										<th>Bank</th> 
										<th>Account Number</th> 
										<th>Amount</th>  
										<th>Status</th>  
									</tr>
								</thead>
								<tbody id="tableBody"> 
								</tbody>
							</table>
							</div>
						</div>
					</div> 
					<div class="text-end action-buttons">
						<button class="btn bg-white btn-outline-success btn-light mx-1px text-95" onclick="exportExcel()"><i class="mr-1 fa fa-file-excel-o text-primary-m1 text-120 w-2" style="color: #86bd68"></i> Export</button>
						<button class="btn bg-white btn-outline-danger btn-light mx-1px text-95" onclick="exportPDF()"><i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2" style="color: #dd4949"></i> Export</button>
					</div>
				</div>

			</div>
		</main> 
		{% include 'includes/footer.html' %}
	</div>
</div>   
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Add New Cheque</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body"> 
				<div class="row">
					<div class="col-md-12"> 
						<div class="col-md-12"> 
							<div class="alert alert-danger" id="alert-danger"> 
							</div>  
							<div class="alert alert-success" id="alert-success">
							</div>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label">Cheque Number</label> 
					<input class="form-control form-control-lg" type="number" id="number" name="number" placeholder="Enter cheque number" />
				</div>   
				<div class="mb-3">
					<label class="form-label">Date</label> 
					<input class="form-control form-control-lg" type="date" id="date" name="date" />
				</div> 
				<div class="mb-3">
					<label class="form-label">Customer</label> 
					<select class="form-select form-select-lg" id="customerId"> 
						{% for customer in customers %}
						<option value="{{customer.id}}">{{customer.name}}</option> 
						{% endfor %}
					</select>
				</div> 
				<div class="mb-3">
					<label class="form-label">Bank Name</label> 
					<input class="form-control form-control-lg" type="text" id="bank" name="bank" placeholder="Enter bank name" />
				</div>   
				<div class="mb-3">
					<label class="form-label">Account Number</label> 
					<input class="form-control form-control-lg" type="number" id="account" name="account" placeholder="Enter account number" />
				</div>   
				<div class="mb-3">
					<label class="form-label">Amount</label> 
					<input class="form-control form-control-lg" type="number" id="amount" name="amount" placeholder="Enter amount" />
				</div>   
				<div class="mb-3">
					<label class="form-label">Image</label> 
					<input class="form-control form-control-lg" type="file" id="image" name="image" accept="image/*" />
				</div>    
				<div class="text-center mt-3"> 
					<button class="btn btn-primary w-100" onclick="addCheque()">Add Cheque</button> 
				</div> 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="detailModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailModelLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"> 
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="col-12">
					<img src="" id="modelImage" class="img-fluid" width="100%" alt="Import image">
				</div>  
			</div> 
		</div>
	</div>
</div>
<div class="modal fade" id="statusModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="statusModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModelLabel">Update Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> 
                <div class="alert alert-danger mb-3" id="editAlert" role="alert">
                </div>
                <div class="alert alert-success mb-3" id="editAlertSuccess" role="alert">
                </div>
                <div class="mb-3">
                    <label class="form-label">Id</label>
                    <input class="form-control form-control-lg" type="text" id="id" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <select class="form-select form-select-lg" id="editStatus">
                        <option value="0">Pending</option>
                        <option value="1">Passed</option>
						<option value="2">Returned</option>
						<option value="3">Reissued</option> 
                    </select>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary w-100" onclick="updateStatus()">Update Status
                        Status</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
	$(document).ready(function(){ 
		$("#collapseCheques").collapse();
		$("#table").hide();
		$("#alert-danger").hide(); 
		$("#alert-success").hide();
		$("#editAlert").hide(); 
		$("#editAlertSuccess").hide();
	})
	function exportExcel(){
		$("#tableData").tableHTMLExport({type:'csv',filename:'customer_cheques.csv',ignoreColumns:'.ignore',ignoreRows: '.ignore'});
	}
	function exportPDF(){
		$("#tableData").tableHTMLExport({type:'pdf',filename:'customer_cheques.pdf',ignoreColumns:'.ignore',ignoreRows: '.ignore'});
	}
	function gettable(){
		customer = $("#customer").val();
		status = $("#status").val(); 
		startdate = $("#startdate").val();
		enddate = $("#enddate").val();
		$('#tableData').DataTable().destroy();
		$.ajax({
		url:"api/v1/cheques",
		type:"GET", 
		data:{	customer : customer,
				status : status, 
				startdate : startdate,
				enddate : enddate 
				},
		success: function(response){ 
			rows = ''; 
			response.data.forEach(addRow);
			function addRow(item){
				rows += "<tr onclick='displayModel(`"+item.image +"`)' data-bs-toggle='modal' data-bs-target='#detailModel'>";
				rows += "<td>"+item.id+"</td>";
				rows += "<td>"+item.cheque_number+"</td>";
				rows += "<td>"+item.date+"</td>";
				rows += "<td>"+item.customer__name+"</td>";
				rows += "<td>"+item.bank+"</td>";
				rows += "<td>"+item.account_number+"</td>";
				rows += "<td>"+item.amount+"</td>"; 
				if(item.status == 0){ 
					rows += "<td><button type='button' onclick='setModel("+ item.id +",0)' class='btn btn-sm btn-warning' data-bs-toggle='modal' data-bs-target='#statusModel'>Pending</button></td>";						
				}else if(item.status == 1){ 
					rows += "<td><button type='button' onclick='setModel(" + item.id +",1)' class='btn btn-sm btn-success' data-bs-toggle='modal' data-bs-target='#statusModel'>Passed</button></td>";
				}else if(item.status == 2){ 
					rows += "<td><button type='button' onclick='setModel(" + item.id +",2)' class='btn btn-sm btn-danger' data-bs-toggle='modal' data-bs-target='#statusModel'>Returned</button></td>";
				}else if(item.status == 3){ 
					rows += "<td><button type='button' onclick='setModel(" + item.id +",3)' class='btn btn-sm btn-primary' data-bs-toggle='modal' data-bs-target='#statusModel'>Reissued</button></td>";
				} 
				rows += "</tr>";
			}
			$('#tableBody').html(rows);
			$('#tableData').DataTable();
			$("#table").show();
		}
	});
	} 
	function addCheque(){
		$("#alert-danger").hide(); 
		$("#alert-success").hide();

		number = $("#number").val();
		date = $('#date').val();
		customer = $('#customerId').val();
		bank = $("#bank").val();
		account = $("#account").val();
		amount = $("#amount").val();
		image = $("#image")[0].files[0];

		if(number != '' && date != '' && customer != '' && bank != '' && account != '' && amount != '' && image != ''){
			var form = new FormData();
			form.append('number',number);
			form.append('date',date);
			form.append('customer',customer),
			form.append('bank',bank);
			form.append('account',account);
			form.append('amount',amount);
			form.append('image',image);
			$.ajax({
				url:'api/v1/insert-cheque',
				type:'POST',
				headers:{
					"X-CSRFToken":'{{csrf_token}}'
				},
				mode:'same-origin', 
				data:form,
				contentType: false,
				dataType: "json",
				processData: false,
				success:function(response){
					if(response.id == 200){
						$("#alert-success").html(response.data);
						$("#alert-success").show()
						gettable();
					}else{
						$("#alert-danger").html(response.data);
						$("#alert-danger").show();
					}
				},
				error:function(response){
					$("#alert-danger").html("Something went wrong!!");
					$("#alert-danger").show();
				}
			})
		} else{
			$("#alert-danger").html("Please enter all the required fields!!");
			$('#alert-danger').show();
		}
	}
	function displayModel(image){ 
		$('#modelImage').attr('src', image); 
	}
	function setModel(id,status){  
        $('#id').val(id);
		$("#editStatus").val(status)
    }
	function updateStatus(){
		$("#editAlert").hide(); 
		$("#editAlertSuccess").hide();

		id = $("#id").val();
		status = $("#editStatus").val();
		$.ajax({
			url: "/api/v1/update-cheque-status",
			type: "POST",
			headers: {
				"X-CSRFToken": '{{csrf_token}}'
			},
			data: {
				id:id,
				status:status
			},
			dataType: "json",
			success:function(response){
				if(response.id == 200){
					$("#editAlertSuccess").html(response.data);
					$("#editAlertSuccess").show();
					gettable();
				}else{
					$("#editAlert").html(response.data);
					$("#editAlert").show();
				}
			},
			error:function(error){
				$("#editAlert").html("Something went wrong!!");
				$("#editAlert").show();
			}
		})
	}
</script>
{% endblock %}