
{% extends 'includes/layout.html' %}
{% load static %}
{% block content %} 
<main class="d-flex w-100">
	<div class="container d-flex flex-column">
		<div class="row vh-100">
			<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
				<div class="d-table-cell align-middle">

					<div class="text-center mt-4">
						<h1 class="h2">Create User</h1>
						<p class="lead">
							<!-- Start creating the best possible user experience for you customers. -->
						</p>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="m-sm-4">
								<form method="POST">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											{% if form.errors %}
												{% for field in form %}
													{% for error in field.errors %}
														<div class="alert alert-danger">
															<strong>{{ error|escape }}</strong>
															<!-- <strong>{{ field|escape }}</strong> -->
														</div>
													{% endfor %}
												{% endfor %}
												{% for error in form.non_field_errors %}
													<div class="alert alert-danger">
														<strong>{{ error|escape }}</strong>
													</div>
												{% endfor %}
											{% endif %}
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">Username</label>
										{{form.username}}
										<!-- <input class="form-control form-control-lg" type="text" name="username" placeholder="Enter username" /> -->
									</div>
									<div class="mb-3">
										<label class="form-label">First Name</label>
										{{form.first_name}}
										<!-- <input class="form-control form-control-lg" type="text" name="fname" placeholder="Enter first name" /> -->
									</div>
									<div class="mb-3">
										<label class="form-label">Last Name</label>
										{{form.last_name}}
										<!-- <input class="form-control form-control-lg" type="text" name="lname" placeholder="Enter last name" /> -->
									</div>
									<div class="mb-3">
										<label class="form-label">Role</label>
										<select class="form-control form-control-lg" name="role" id="role">
											{% for role in roles %}
											<option value="{{role.id}}">{{role.role}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="mb-3">
										<label class="form-label">Email</label>
										{{form.email}}
										<!-- <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter email" /> -->
									</div>
									<div class="mb-3">
										<label class="form-label">Passowrd</label>
										{{form.password1}}
										<!-- <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter password" /> -->
									</div>
									<div class="mb-3">
										<label class="form-label">Re-enter Password</label>
										{{form.password2}}
										<!-- <input class="form-control form-control-lg" type="password" name="re-password" placeholder="Re-enter password" /> -->
									</div>
									<div class="text-center mt-3">
										<!-- <a href="index.html" class="btn btn-lg btn-primary">Create User</a> -->
										<!-- <input type="submit" class="btn btn-lg btn-primary" value="Create User"> -->
										<button class="btn btn-primary w-100" type="submit" >Register</button>
										<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
									</div> 
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main> 
{% endblock %}