{% extends 'includes/layout.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    {% include 'includes/nav.html' %}

    <div class="main">
        {% include 'includes/nav-user.html' %}

        <main class="content">
            <div class="container-fluid p-0">

                <h1 class="h3 mb-3"><strong>Pending Import Invoices</strong></h1> 

                <div class="row" id="table">
                    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                        <div class="card flex-fill p-3">
                            <div class="table-responsive">
                                <table class="table table-hover my-0" id="tableData">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Date</th>
                                            <th>Supplier</th>
                                            <th>Items</th>
                                            <th>Total</th>  
                                        </tr>
                                    </thead>
                                    <tbody id="tableBody">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-end action-buttons">
                        <button class="btn bg-white btn-outline-success btn-light mx-1px text-95"
                            onclick="exportExcel()"><i class="mr-1 fa fa-file-excel-o text-primary-m1 text-120 w-2"
                                style="color: #86bd68"></i> Export</button>
                        <button class="btn bg-white btn-outline-danger btn-light mx-1px text-95"
                            onclick="exportPDF()"><i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2"
                                style="color: #dd4949"></i> Export</button>
                    </div>
                </div>

            </div>
        </main>

        {% include 'includes/footer.html' %}
    </div>
</div>
<div class="modal fade" id="detailModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="detailModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModelLabel">Add payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <img src="" id="modelImage" class="img-fluid" width="100%" alt="Import image">
                </div>
                <div class="alert alert-danger mb-3" id="deliveryAlert" role="alert">
                </div>
                <div class="alert alert-success mb-3" id="deliveryAlertSuccess" role="alert">
                </div>
                <div class="mb-3">
                    <label class="form-label">Id</label>
                    <input class="form-control form-control-lg" type="text" id="deliveryId" disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label">Status</label>
                    <select class="form-select form-select-lg" id="deliveryStatus">
                        <option value="0">Pending</option>
                        <option value="1">Delivered</option>
                    </select>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary w-100" onclick="updateDeliveryStatus()">Update Delivery
                        Status</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#collapseImports").collapse();
        $("#table").hide(); 
        gettable()
    })
    function gettable() {
        $('#tableData').DataTable().destroy();
        $.ajax({
            url: "api/v1/import_invoice_data",
            type: "GET",
            data: {
                supplier: 0,
                load_status: -1,
                payment_status: -1,
                startdate: '',
                enddate: '',
                status:0
            },
            success: function (response) {
                rows = '';
                response.data.forEach(addRow);
                function addRow(item) {
                    console.log(item.invoice_image)
                    rows += "<tr onclick='displayModel("+item.id+",`"+item.invoice_image +"`)' data-bs-toggle='modal' data-bs-target='#detailModel'>";
                    rows += "<td>#000" + item.id + "</td>";
                    rows += "<td>" + item.date + "</td>";
                    rows += "<td>" + item.supplier__name + "</td>";
                    rows += "<td>" + item.products_count + "</td>";
                    rows += "<td>" + item.total + "</td>"; 
                    rows += "</tr>";
                }
                $('#tableBody').html(rows);
                $('#tableData').DataTable();
                $("#table").show();
            }
        });
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function exportExcel() {
        $("#tableData").tableHTMLExport({ type: 'csv', filename: 'imports.csv', ignoreColumns: '.acciones,#primero', ignoreRows: '#ultimo' });
    }
    function exportPDF() {
        $("#tableData").tableHTMLExport({ type: 'pdf', filename: 'imports.pdf', ignoreColumns: '.acciones,#primero', ignoreRows: '#ultimo' });
    }
    function displayModel(id,image){
        console.log(id);
        $('#modelImage').attr('src', image);
    }
</script>
{% endblock %}