{% extends 'includes/layout.html' %}
{% load static %}
{% block content %} 
<div class="wrapper">
	{% include 'includes/nav.html' %}

	<div class="main">
		{% include 'includes/nav-user.html' %}

		<main class="content">
			<div class="container-fluid p-0">

				<h1 class="h3 mb-3"><strong>Reset Password</strong></h1> 
				<div class="row">
					<div class="card">
						<div class="card-body"> 
								<div class="row">
									<div class="alert alert-danger" id="alert" role="alert"> </div>
									<div class="alert alert-success" id="alertSuccess" role="alert"> </div>
								</div>
								<div class="row">
									<div class="col-12 mb-3">
										<label class="form-label">Current Password</label> 
										<input class="form-control form-control-lg" id="current" type="password" name="password" placeholder="Enter your password" />
									</div> 
								</div>  
								<div class="row">
									<div class="col-12 mb-3">
										<label class="form-label">New Password</label> 
										<input class="form-control form-control-lg" id="new" type="password" name="password" placeholder="Enter your password" />
									</div> 
								</div>  
								<div class="row">
									<div class="col-12 mb-3">
										<label class="form-label">Re-type Password</label> 
										<input class="form-control form-control-lg" id="re" type="password" name="password" placeholder="Enter your password" />
									</div> 
								</div>  
								<div class="text-center mt-3">
									<button class="btn btn-lg btn-primary" onclick="reset()">Reset</button>
								</div> 
						</div>
					</div>
				</div>  
			</div>
		</main> 
		{% include 'includes/footer.html' %}
	</div>
</div>    
<script>
	$(document).ready(function(){ 
		$("#alert").hide(); 
		$("#alertSuccess").hide(); 
	})   
	function reset(){
		$("#alert").hide(); 
		$("#alertSuccess").hide();
		
		current = $("#current").val();
		newpas = $("#new").val();
		re = $("#re").val(); 
		if(newpas == re){
			$.ajax({
				url: "/api/v1/reset-password",
				type: "POST",
				headers: {
					"X-CSRFToken": '{{csrf_token}}'
				},
				data: {
					current:current,
					new:newpas
				},
				dataType: "json",
				success:function(response){
					if(response.id == 200){
						$("#alertSuccess").html(response.data);
						$("#alertSuccess").show(); 
					}else{
						$("#alert").html(response.data);
						$("#alert").show();
					}
				},
				error:function(error){
					$("#alert").html("Something went wrong!!");
					$("#alert").show();
				}
			})
		}else{
			$("#alert").html("Passwords does not match!!");
			$("#alert").show();
		}
	}
</script>
{% endblock %}