{% extends 'includes/layout.html' %}
{% load static %}
{% block content %} 
	<div class="wrapper">
		{% include 'includes/nav.html' %}

		<div class="main">
			{% include 'includes/nav-user.html' %}

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Suppliers</strong></h1>
					<div style="text-align: right;" class="mb-2">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
							Create New Supplier
						</button>
					</div>
					<div class="row" id="table">
						<div class="col-12 col-lg-12 col-xxl-12 d-flex">
							<div class="card flex-fill p-3"> 
								<div class="table-responsive">
								<table class="table table-hover my-0" id="tableData">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name</th>
											<th>Address</th>
											<th>Country</th>
											<th>Telephone</th> 
										</tr>
									</thead>
									<tbody id="tableBody"> 
									</tbody>
								</table>
								</div>
							</div>
						</div> 
						<div class="text-end action-buttons">
							<button class="btn bg-white btn-outline-success btn-light mx-1px text-95" onclick="exportExcel()"><i class="mr-1 fa fa-file-excel-o text-primary-m1 text-120 w-2" style="color: #86bd68"></i> Export</button>
							<button class="btn bg-white btn-outline-danger btn-light mx-1px text-95" onclick="exportPDF()"><i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2" style="color: #dd4949"></i> Export</button>
						</div>
					</div>

				</div>
			</main>

			{% include 'includes/footer.html' %}
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Create New Customer</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body"> 
					<div class="row">
						<div class="col-md-12"> 
							<div class="col-md-12"> 
								<div class="alert alert-danger" id="alert-danger"> 
								</div>  
								<div class="alert alert-success" id="alert-success">
								</div>
							</div>
						</div>
					</div>
					<div class="mb-3">
						<label class="form-label">Name</label> 
						<input class="form-control form-control-lg" type="text" name="name" id="name" placeholder="Enter name" />
					</div>   
					<div class="mb-3">
						<label class="form-label">Address</label> 
						<input class="form-control form-control-lg" type="text" name="address" id="address" placeholder="Enter address" />
					</div> 
					<div class="mb-3">
						<label class="form-label">Country</label> 
						<input class="form-control form-control-lg" type="text" name="country" id="country" placeholder="Enter country" />
					</div> 
					<div class="mb-3">
						<label class="form-label">Telephone</label> 
						<input class="form-control form-control-lg" type="text" name="telephone" id="telephone" placeholder="Enter telephone" />
					</div> 
					<div class="text-center mt-3"> 
						<button class="btn btn-primary w-100" onclick="createSupplier()">Create Supplier</button> 
					</div>  
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){  
			$("#alert-danger").hide();
			$("#alert-success").hide(); 
			getSuppliers();
		})
		function exportExcel(){
			$("#tableData").tableHTMLExport({type:'csv',filename:'suppliers.csv',ignoreColumns:'.acciones,#primero',ignoreRows: '#ultimo'});
		}
		function exportPDF(){
			$("#tableData").tableHTMLExport({type:'pdf',filename:'suppliers.pdf',ignoreColumns:'.acciones,#primero',ignoreRows: '#ultimo'});
		}
		function getSuppliers(){
			$("#table").hide(); 
			$('#tableData').DataTable().destroy();
			$.ajax({
				url: "api/v1/suppliers",
				type: "GET", 
				headers: {
					"X-CSRFToken": '{{csrf_token}}'
				}, 
				mode: "same-origin",
				success: function (response) {
					rows = '';
					
					response.data.forEach(addRow);
					function addRow(item) {  
						rows += "<tr>";
							rows += "<td>" + item.id + "</td>";
							rows += "<td>" + item.name + "</td>";
							rows += "<td>" + item.address + "</td>";
							rows += "<td>" + item.country + "</td>";
							rows += "<td>" + item.telephone + "</td>"; 
						rows += "</tr>";
					}
					$('#tableBody').html(rows);
					$('#tableData').DataTable();
					$("#table").show();
				}
			});
		}
		function createSupplier(){
			$("#alert-danger").hide();
			$("#alert-success").hide();
			name = $("#name").val();
			address = $("#address").val();
			country = $("#country").val();
			telephone = $("#telephone").val(); 

			if(name != "" && address != "" && telephone != "" && country != ""){ 
				$.ajax({
					url: "api/v1/create-supplier",
					type: "POST",
					headers: {
						"X-CSRFToken": '{{csrf_token}}'
					},
					data: {
						name: name,
						address: address,
						country:country,
						telephone: telephone 
					},
					dataType: "json",
					success: function (response) { 
						if (response.id == 200) {
							$("#alert-success").html(response.data);
							$('#alert-success').show();
							getSuppliers()
						} else {
							$("#alert-danger").html(response.data);
							$('#alert-danger').show();
						}
					},
					error: function (response) {
						$("#alert-danger").html("Something went wrong!!");
					}
				}); 
			}else{
				$("#alert-danger").html("Please enter all the required fields!!");
				$('#alert-danger').show();
			}
			
		}
	</script>
{% endblock %}