{% extends 'includes/layout.html' %}
{% load static %}
{% block content %} 
	<div class="wrapper">
		{% include 'includes/nav.html' %}

		<div class="main">
			{% include 'includes/nav-user.html' %}

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Utilities</strong></h1> 
					<div style="text-align: right;" class="mb-2">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
							Add Connection
						</button>
					</div>
					<div class="row" id="table">
						<div class="col-12 col-lg-12 col-xxl-12 d-flex">
							<div class="card flex-fill p-3"> 
								<div class="table-responsive">
									<table class="table table-hover my-0" id="tableData">
										<thead>
											<tr>
												<th>Id</th>
												<th>Name</th>
												<th>Account Number</th>
												<th>Connected Date</th>
												<th>Disconnected Date</th> 
												<th>Status</th> 
											</tr>
										</thead>
										<tbody id="tableBody"> 
										</tbody>
									</table>
								</div>
							</div>
						</div> 
						<div class="text-end action-buttons">
							<button class="btn bg-white btn-outline-success btn-light mx-1px text-95" onclick="exportExcel()"><i
									class="mr-1 fa fa-file-excel-o text-primary-m1 text-120 w-2" style="color: #86bd68"></i> Export</button>
							<button class="btn bg-white btn-outline-danger btn-light mx-1px text-95" onclick="exportPDF()"><i
									class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2" style="color: #dd4949"></i> Export</button>
						</div>
					</div>

				</div>
			</main>

			{% include 'includes/footer.html' %}
		</div>
	</div> 
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Add New Utility Connection</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body"> 
					<div class="row">
						<div class="col-md-12"> 
							<div class="col-md-12"> 
								<div class="alert alert-danger" id="alert-danger"> 
								</div>  
								<div class="alert alert-success" id="alert-success">
								</div>
							</div>
						</div>
					</div>
					<div class="mb-3">
						<label class="form-label">Name</label> 
						<input class="form-control form-control-lg" type="text" name="name" id="name" placeholder="Enter name" />
					</div>   
					<div class="mb-3">
						<label class="form-label">Account Number</label> 
						<input class="form-control form-control-lg" type="text" name="accountNumber" id="accountNumber" placeholder="Enter account number" />
					</div> 
					<div class="mb-3">
						<label class="form-label">Connected Date</label> 
						<input class="form-control form-control-lg" type="date" name="date" id="date" placeholder="Select date" />
					</div>  
					<div class="text-center mt-3"> 
						<button class="btn btn-primary w-100" onclick="createUtility()">Add Connection</button> 
					</div>  
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){ 
			$("#collapseUtility").collapse();
			$("#alert-danger").hide();
			$("#alert-success").hide();
			// $("#table").hide();
			gettable();
		})
		function exportExcel(){
			$("#tableData").tableHTMLExport({type:'csv',filename:'products.csv',ignoreColumns:'.acciones,#primero',ignoreRows: '#ultimo'});
		}
		function exportPDF(){
			$("#tableData").tableHTMLExport({type:'pdf',filename:'products.pdf',ignoreColumns:'.acciones,#primero',ignoreRows: '#ultimo'});
		}
		function gettable(){
			// customer = $("#customer").val();
			// delivery_status = $("#delivery_status").val();
			// payment_status = $("#payment_status").val();
			// startdate = $("#startdate").val();
			// enddate = $("#enddate").val();

			$.ajax({
			url:"api/v1/utilities",
			type:"GET", 
			data:{	
				// customer : customer,
				// delivery_status : delivery_status,
				// payment_status : payment_status,
				// startdate : startdate,
				// enddate : enddate 
				},
			success: function(response){ 
				rows = ''; 
				response.data.forEach(addRow);
                function addRow(item){
                    rows += "<tr>";
					rows += "<td>"+item.id+"</td>";
					rows += "<td>"+item.name+"</td>";
					rows += "<td>"+item.account_number+"</td>";
					rows += "<td>"+item.connected_date+"</td>";
					if(item.disconnected_date != null){
						rows += "<td>"+item.disconnected_date+"</td>";
					}else{
						rows += "<td> - </td>";
					}
					rows += "<td>"+item.status+"</td>"; 
					rows += "</tr>";
                }
				$('#tableBody').html(rows);
				$('#tableData').DataTable();
				$("#table").show();
			}
		});
		}
		function createUtility(){
			$("#alert-danger").hide();
			$("#alert-success").hide();
			name = $("#name").val();
			accountNumber = $("#accountNumber").val();
			date = $("#date").val(); 

			if(name != "" && accountNumber != "" && date != ""){ 
				$.ajax({
					url: "api/v1/create-utility",
					type: "POST",
					headers: {
						"X-CSRFToken": '{{csrf_token}}'
					},
					data: {
						name: name,
						accountNumber: accountNumber,
						date:date 
					},
					dataType: "json",
					success: function (response) { 
						if (response.id == 200) {
							$("#alert-success").html(response.data);
							$('#alert-success').show();
							gettable()
						} else {
							$("#alert-danger").html(response.data);
							$('#alert-danger').show();
						}
					},
					error: function (response) {
						$("#alert-danger").html("Something went wrong!!");
					}
				}); 
			}else{
				$("#alert-danger").html("Please enter all the required fields!!");
				$('#alert-danger').show();
			}
			
		}
	</script>
{% endblock %}